.foter{
    width:100%;
    height:70px;
    text-align:center;
    font-family:'Segoe Script';
    color:#FF8C00;
    font-size:large;
   
    
}
#SlidText{
    width:500px;
    height:200px;
    position:absolute;
    left:450px;
    top:400px;
    font-family:'Comic Sans MS';
    font-style:italic;
    font-size:xx-large;
    color:white;
    
}